In [ ]:
1. Create a function to perform basic arithmetic operations that includes addition, subtraction, multiplication and division on a string number (e.g. "12 + 24" or "23 - 21" or "12 // 12" or "12 * 21").

Here, we have 1 followed by a space, operator followed by another space and 2. For the challenge, we are going to have only two numbers between 1 valid operator. The return value should be a number.

eval() is not allowed. In case of division, whenever the second number equals "0" return -1.

For example:

"15 // 0"  ➞ -1

Examples

arithmetic_operation("12 + 12") ➞ 24 // 12 + 12 = 24

arithmetic_operation("12 - 12") ➞ 24 // 12 - 12 = 0

arithmetic_operation("12 * 12") ➞ 144 // 12 * 12 = 144

arithmetic_operation("12 // 0") ➞ -1 // 12 / 0 = -1

In [4]:
def ops(n1,n2, f):
    
    if f =='add':
        return int(n1)+int(n2)
    elif f =='diff':
        return int(n1)-int(n2)
    elif f =='multiply':
        return int(n1)*int(n2)
    elif f =='division' and int(n2)==0:
        return -1
    else:
        return int(n1)//int(n2)
ops('2','0','division')

-1

In [ ]:
2. Write a function that takes the coordinates of three points in the form of a 2d array and returns the perimeter of the triangle. The given points are the vertices of a triangle on a two-dimensional plane.

Examples

perimeter( [ [15, 7], [5, 22], [11, 1] ] ) ➞ 47.08

perimeter( [ [0, 0], [0, 1], [1, 0] ] ) ➞ 3.42

perimeter( [ [-10, -10], [10, 10 ], [-10, 10] ] ) ➞ 68.28

In [5]:
import math
def per(ls):
    j=0
    a=0
    for i in range(3):

        if i==2:
            j=0
            x1=ls[j][0]
            y1=ls[j][1]
            x2=ls[j+2][0]
            y2=ls[j+2][1]
        else:
            x1=ls[j][0]
            y1=ls[j][1]
            x2=ls[j+1][0]
            y2=ls[j+1][1]
        a+=math.sqrt((x2-x1)**2+(y2-y1)**2)
        j+=1
    print(a)

In [6]:
per( [ [15, 7], [5, 22], [11, 1] ] )

47.07918859608948

In [ ]:
3. A city skyline can be represented as a 2-D list with 1s representing buildings. In the example below, the height of the tallest building is 4 (second-most right column).

[[0, 0, 0, 0, 0, 0],
[0, 0, 0, 0, 1, 0],
[0, 0, 1, 0, 1, 0],
[0, 1, 1, 1, 1, 0],
[1, 1, 1, 1, 1, 1]]

Create a function that takes a skyline (2-D list of 0's and 1's) and returns the height of the tallest skyscraper.

Examples

tallest_skyscraper([
  [0, 0, 0, 0],
  [0, 1, 0, 0],
  [0, 1, 1, 0],
  [1, 1, 1, 1]
]) ➞ 3

In [13]:
def tallest_skyscraper(ls):
    ans=ls[0][1]+ls[1][1]+ls[2][1]+ls[3][1]
    return f'height of building is {ans}'

In [16]:
tallest_skyscraper([[0, 0, 0, 0],
  [0, 1, 0, 0],
  [0, 1, 1, 0],
  [1, 1, 1, 1]
])

'height of building is 3'

In [ ]:
4. A financial institution provides professional services to banks and claims charges from the customers based on the number of man-days provided. Internally, it has set a scheme to motivate and reward staff to meet and exceed targeted billable utilization and revenues by paying a bonus for each day claimed from customers in excess of a threshold target.

This quarterly scheme is calculated with a threshold target of 32 days per quarter, and the incentive payment for each billable day in excess of such threshold target is shown as follows:

Days	                             Bonus
0 to 32 days	                   Zero
33 to 40 days	         SGD$325 per billable day
41 to 48 days	         SGD$550 per billable day
Greater than 48 days      SGD$600 per billable day

In [2]:
def bonus(n):
    b = 0
    if n<=32:
        b =0
    elif n<=40:
        b = (n-32)*325
    elif n<=48:
        b = ((n-32)*325)+((n-40)*550)
    elif n>48:
        b=((n-32)*325)+((n-40)*550)+((n-48)*600)
    return b
bonus(37)

1625